<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 clearfix">
      <div class="text-right">
        <h5>"Choose a job you love, and you will never have to work a day in your life."<br />- Confucius</h5>
      </div>
      <br />
      <p>
        Welcome to my personal portfolio.  This site is to display my personal/professional projects in a concise but awesome manner. 
        Have a gander at my projects, see what I have been working on.  If you have any feedback or ideas feel free to contact me. 
      </p>
    </div>
    <div class="span3">
      <%= image_tag 'josh_benbenek.jpg', class: 'pull-right profile' %>
    </div>
  </div>
</div>