@mixin top-down-gradient ($startColor, $endColor) {
  background: $startColor;
  /* Safari 4+, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($startColor), to($endColor));
  /* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, $startColor, $endColor);
  /* IE 10+ */
  background: -ms-linear-gradient(top, $startColor, $endColor);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, $startColor, $endColor);
}